.App {
  text-align: center;
  background-image: url(https://www.syfy.com/sites/syfy/files/styles/1200x680/public/wire/legacy/Game-of-Thrones-1_0_0.png);
}

.App-logo {
  height: 40vmin;
}

.appDiv{
  margin:auto;
  width:50%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
