.App {
  text-align: center;
  background-image: url(https://previews.123rf.com/images/tartila/tartila1805/tartila180500061/101257368-retro-cinema-or-theater-frame-illuminated-by-spotlight-now-showing-sign-on-red-curtain-backdrop-vint.jpg);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
